CSE686-IP/Programs/Assigments/FinalProject/FinalProject/Service References/FinalService/FinalWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BugReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Component" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="OwnedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportedTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BugReport" nillable="true" type="tns:BugReport" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dtaetime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
</xs:schema>