CSE686-IP/Programs/Assigments/FinalProject/FinalProject/Service References/FinalService/FinalWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FinalWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62890/FinalWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62890/FinalWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62890/FinalWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFinalWCFService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IFinalWCFService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IFinalWCFService_GetBugReportByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBugReportByID" />
  </wsdl:message>
  <wsdl:message name="IFinalWCFService_GetBugReportByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBugReportByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFinalWCFService_InsertBugReport_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBugReport" />
  </wsdl:message>
  <wsdl:message name="IFinalWCFService_InsertBugReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBugReportResponse" />
  </wsdl:message>
  <wsdl:message name="IFinalWCFService_UpdateBugReport_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBugReport" />
  </wsdl:message>
  <wsdl:message name="IFinalWCFService_UpdateBugReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBugReportResponse" />
  </wsdl:message>
  <wsdl:message name="IFinalWCFService_DeleteBugReport_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBugReport" />
  </wsdl:message>
  <wsdl:message name="IFinalWCFService_DeleteBugReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBugReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IFinalWCFService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinalWCFService/DoWork" message="tns:IFinalWCFService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinalWCFService/DoWorkResponse" message="tns:IFinalWCFService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBugReportByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinalWCFService/GetBugReportByID" message="tns:IFinalWCFService_GetBugReportByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinalWCFService/GetBugReportByIDResponse" message="tns:IFinalWCFService_GetBugReportByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBugReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinalWCFService/InsertBugReport" message="tns:IFinalWCFService_InsertBugReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinalWCFService/InsertBugReportResponse" message="tns:IFinalWCFService_InsertBugReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBugReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinalWCFService/UpdateBugReport" message="tns:IFinalWCFService_UpdateBugReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinalWCFService/UpdateBugReportResponse" message="tns:IFinalWCFService_UpdateBugReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBugReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinalWCFService/DeleteBugReport" message="tns:IFinalWCFService_DeleteBugReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinalWCFService/DeleteBugReportResponse" message="tns:IFinalWCFService_DeleteBugReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFinalWCFService" type="tns:IFinalWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IFinalWCFService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBugReportByID">
      <soap:operation soapAction="http://tempuri.org/IFinalWCFService/GetBugReportByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBugReport">
      <soap:operation soapAction="http://tempuri.org/IFinalWCFService/InsertBugReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBugReport">
      <soap:operation soapAction="http://tempuri.org/IFinalWCFService/UpdateBugReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBugReport">
      <soap:operation soapAction="http://tempuri.org/IFinalWCFService/DeleteBugReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinalWCFService">
    <wsdl:port name="BasicHttpBinding_IFinalWCFService" binding="tns:BasicHttpBinding_IFinalWCFService">
      <soap:address location="http://localhost:62890/FinalWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>